<!doctype html>
<html>
    <head>

        <title>Mabuhay!</title>
        <!-- Latest compiled and minified CSS & JS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <link rel="stylesheet" href="css/style.css">

        <script src="js/main.js"></script>
    </head>
    <body>
    <div class="container text-center">

    <% include partials/alerts %>
    	<%- body %>
    	<hr>
    	<a href="/" class="btn btn-default">HOME</a>
      <a href="/recipes" class="btn btn-default">Recipes</a>
      <a href="/auth/addRecipes" class="btn btn-default">Add a Recipe</a>
    	<a href="/profile" class="btn btn-default">Profile</a>
        <% if(!currentUser) { %>
    	<a href="/auth/login" class="btn btn-default">Login</a>
      <a href="/auth/signup" class="btn btn-default">Sign Up</a>
      <% } else { %>
      <a href="/auth/logout" class="btn btn-danger">logout, <%= currentUser.getFullName() %></a>
      <% } %>
      </div>
      <div>
      <img src="images/kamayan.jpg" alt="table of food" class="text-center"></div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
    </body>
</html>

