<div class="container text-center">
<h1>Login!</h1>

<form action="/auth/login" method="POST">
	<legend>Login Page</legend>

	<div class="form-group">
		<label for="login">Email</label>
		<input type="email" class="form-control" id="login" name="email" placeholder="Type your Email">
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="Type your Password">
	</div>


	<button type="submit" class="btn-xs btn-primary">Submit</button>
<div class="checkbox">
<label>
<input type="checkbox">Remember Me</label>
</div>

</form>
</div>
