<!doctype html>
<html>
    <head>

        <title>Recipes</title>
        <link rel="stylesheet" href="css/style.css">
 				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
				<link rel="stylesheet" href="/css/style.css">
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS' crossorigin='anonymous'></script>


    </head>
    <body>
<div class="row allrecipes">
<h1 class="white-text">Filipino Recipes</h1>
<% recipes.forEach(function(recipe) { %>
<div class="individ col m4 s12">
<img src="<%= recipe.recipe.image %>">
<p class="red-text text-darken-4 "><%= recipe.recipe.label %></p>
<p class="recipelink">Click Link for Recipe<br><a href="#" class="amber-text text-accent-4 "><%= recipe.recipe.source %></a></p>
</div>
<% }); %>
</div>

        <script src="js/main.js"></script>
    </body>
</html>
