<h1><%= newRecipe.name %></h1>

<h3>
  <%= newRecipe.ingredients %>
</h3>
<h3>
  <%= newRecipe.directions %>
</h3>
<a href="/auth/addRecipes" class="delete-link btn blue darken-1">Delete this Recipe</a>
 <!--      <form class="form-group" method="Delete" action="<%= "/addRecipes" + newRecipe.name + "?_method=DELETE" %>">
         <button type="submit">x</button>
      </form> -->
