<h1>Hi User! Please Sign up!</h1>

<form action="/auth/signup" method="POST" role="form">
	<legend>New User</legend>

	<div class="form-group">
		<label for="login">Email</label>
		<input type="email" class="form-control" id="login" name="email" placeholder="Type your Email">
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="Type your Password">
	</div>

		<div class="form-group">
		<label for="firstname">First Name</label>
		<input type="text" class="form-control" id="firstname" name="firstName" placeholder="Type First Name">
	</div>


		<div class="form-group">
		<label for="lastname">Last Name</label>
		<input type="text" class="form-control" id="lastname" name="lastName" placeholder="Type Last Name">
	</div>


	<button type="submit" class="btn btn-primary">Submit</button>
</form>
